<template>
  <div>
    <div class="row">
      <div class="col-xs-3">
        <stats-card>
          <div class="icon-big text-center icon-success" slot="header">
            <i class="ti-reload"></i>
          </div>
          <div class="numbers" slot="content">
            <p>Vitesse mesurée</p>
            {{ speed.current }}
          </div>
          <div class="stats" slot="footer">
            <input class="form-control border-input" type="number" v-model="speed.set">
            <br/>
            <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="setSpeed(speed.set)">
              Soumettre
            </button>
          </div>
        </stats-card>
      </div>
      <div class="col-xs-9">
        <chart-card :chart-data="chart.data" :chart-options="chart.options">
          <h4 class="title" slot="title">Mesures de vitesse</h4>
          <span slot="subTitle"> Basé sur les mesures captées depuis que la page à été ouverte.</span>
          <span slot="footer">
            <div slot="legend">
              <i class="fa fa-circle text-info"></i> Vitesse mesurée
              <i class="fa fa-circle text-warning"></i> Vitesse d'entrée
            </div>
          </span>
        </chart-card>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import StatsCard from 'components/UIComponents/Cards/StatsCard.vue'
  import ChartCard from 'components/UIComponents/Cards/ChartCard.vue'
  import socket from 'axios'
  export default {
    components: {
      StatsCard,
      ChartCard
    },
    data () {
      return {
        speed: {
          set: 0,
          current: 0
        },
        chart: {
          data: {
            series: [
              [],
              []
            ]
          },
          options: {
            seriesBarDistance: 10,
            axisX: {
              showGrid: false
            },
            height: '245px'
          }
        },
      }
    },
    sockets:{
      currentSpeed: function(speed){
        this.speed.current = speed
        this.updateCharts();
      },
    },
    methods: {
      setSpeed(speed) {
       this.$socket.emit('setSpeed', speed);
      },
      updateCharts() {
        const { current, set } = this.speed
        if (this.chart.data.series[0].length > 20) {
          this.chart.data.series[0].shift()
          this.chart.data.series[1].shift()
        }
        this.chart.data.series[0].push(current)
        this.chart.data.series[1].push(set)
      }
    },
  }

</script>
<style>

</style>